* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555555;
  font-family: "lato", "arial", "sans-sarif";
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background-image: url(hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1 {
  margin: 0;
}
